@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type"  content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/dist/bootstrap-table.min.css">
    <title>
        病案接收管理
    </title>
    
    <style>

        html, body {
            height: 100%;
            max-width: 1366px;
            max-height:768px;
            overflow: auto;
        }

        body {
            font-family: "微软雅黑";
            font-size: 14px;
        }

        #head {
            height: 50px;
            font-size: 30px;
            font-family: "Times New Roman";
            line-height: 50px;
            text-align: center;
            border-width: 1px 0 1px 0;
            border-style: solid;
            border-color: black;
        }

        #p1 {
            letter-spacing: 4px;
        }

        #p2 {
            width: 100%;
            display: inline-block;
            text-align: center;
        }

        #toolbar {
            /*border-width: 1px 0 0 0;
            //border-style: solid;
            //border-color: black;*/
            height:26px;
        }

        #mid {
            height: 600px;
            width: 100%;
        }

        #stabar {
            height: 30px;
            bottom: 0px;
            z-index: 99999;
            border-width: 1px 0 0 0;
            border-style: solid;
            border-color: black;
            width: 100%;
        }

        #left {
            width: 400px;
            height: 600px;
            float: left;
            padding:20px;
            overflow: auto;
            display:inline;
        }


        #right {
            width: 940px;
            height: 600px;
            //float: right;
            overflow: auto;
            padding: 0 20px 0 0;
        }
        body{
            margin:0;
        }

        .lbone {
            margin-left:24px;
            //left: 20px;
            width: 100px;
            //text-align: right;
            font-size:14px;
        }

        .lbtwo {
            left: 0;
            width: 100px;
            //text-align: right;
            font-size: 14px;
        }

        .iletf {
            left: 5px;
            width: 20px;
            height: 25px;
        }

        .iright, #seldep {
            left: 0;
            width: 200px;
            height: 25px;
            font-size: 14px;
        }

        select {
            left: 100px;
            width: 130px;
            height: 20px;
        }

        #dq1 {
            margin-top: 16px;
        }

        #dq2, #dq3, #dq4, #dq5, #dq6, #dq7, #dq8, #dq9, #dq10, #dq11 {
            margin-top: 8px;
            width:350px;
        }

        #dbtn {
            margin-top: 30px;
            margin-left: 140px;
        }

        input[type=date]::-webkit-inner-spin-button {
            visibility: hidden;
        }

        #dadd {
            margin-bottom: 10px;
        }

        #txtFind{
            line-height:20px;
            height:25px;
            margin-left:15px;
            margin-right:15px;
        }
        .dr {
            float: right;
            height: 20px;
        }

        #selfind {
            margin-left: 4px;
            margin-right: 4px;
        }

        .mycell {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #bttable{
            font-size:12px;
        }

        input, #btnadd {
            font-size: 20px;
            line-height: 20px;
            height: 25px;
        }

        #txtFind, #selfind, #seldepadd {
            height: 25px;
        }


        #txtaddget, #txtaddsend {
            width: 150px;
        }

        #dtrtime {
            width: 200px;
            float:right;
        }

        #lrtime {
            float: right;
        }

     
   
    </style>
</head>
<body>
    <div class="modal fade bs-example-modal-lg" id="dm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">新增病案</h4>
                </div>

                <div class="modal-body">
                    <form >
                        <div class="form-group" id="div-m-h">
                            <label for="recipient-name" class="control-label">出院科室:</label>
                            <select id="seldepadd"></select>

                            <button type="button" class="dr" id="btnadd"onclick="addmedrec()">添加</button>
                            <input class="dr" type="text" id="txtFind">
                            <label class="dr" for="recipient-name">添加病案</label>
                            <select id="selfind" class="dr" name="selFind">
                                <option value="1">病人ID</option>
                                <option value="2">住院号</option>
                                <option value="3">姓名</option>
                            </select>
                            <label class="dr" for="selFind-name">按</label>
                        </div>

                        <table id="btadd" data-search="false" ></table>

                        <div class="form-group" id="d-add">

                            <label for="" class="control-label">接收人:</label>
                            <input id="txtaddget" type="text">
                            <label for="" class="control-label">运送人:</label>
                            <input id="txtaddsend" type="text">

                            <input type="date" id="dtrtime">
                            <label for="" id="lrtime" class="control-label">接收日期:</label>

                        </div>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="saveadddata()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div id="head"><p id="p1">病案接收管理</p></div>
    <div id="mid">
        <div id="left">
            <div id="df1">
                <form>
                    <div class="form-inline row" id="dq1">
                        <label class="lbone" for="txtInNo">住院号</label>
                        <input class="iright" type="text" id="txtInNo" name="txtInNo">
                    </div>
                    <div class="form-inline row" id="dq2">
                        <label class="lbone" for="txtInNoto">至</label>
                        <input class="iright" type="text" id="txtInNoto" name="txtInNoto">
                    </div>
                    <div class="form-inline row" id="dq3">
                        <label class="lbone" for="cboRoom">科室</label>
                        <select class="combobox" id="seldep" name="cboRoom">
                        </select>
                    </div>
                    <div class="form-inline row" id="dq4">
                        <input class="iletf" type="checkbox" id="chkdtout" name="chkdtout">
                        <label class="lbtwo" for="dtOut">出院日期</label>
                        <input class="iright" type="date" id="dtOut" name="dtOut" value="">
                    </div>
                    <div class="form-inline row" id="dq5">
                        <label class="lbone" for="dtOutTo">至</label>
                        <input class="iright" type="date" id="dtOutTo" name="dtOutTo" value="">
                    </div>
                    <div class="form-inline row" id="dq6">
                        <input class="iletf" type="checkbox" id="chkdtReceive" name="chkdtReceive">
                        <label class="lbtwo" for="dtReceive">接收日期</label>
                        <input class="iright" type="date" id="dtReceive" name="dtReceive" value="">
                    </div>
                    <div class="form-inline row" id="dq7">
                        <label class="lbone" for="dtReceiveTo">至</label>
                        <input class="iright" type="date" id="dtReceiveTo" name="dtReceiveTo" value="">
                    </div>
                    <div class="form-inline row" id="dq8">
                        <input class="iletf" type="checkbox" id="chkdtMake" name="chkdtMake">
                        <label class="lbtwo" for="dtMake">编目日期</label>
                        <input class="iright" type="date" id="dtMake" name="dtMake" value="2020-6-30">
                    </div>
                    <div class="form-inline row" id="dq9">
                        <label class="lbone" for="dtMakeTo">至</label>
                        <input class="iright" type="date" id="dtMakeTo" name="dtMakeTo" value="">
                    </div>
                    <div class="form-inline row" id="dq10">
                        <label class="lbone" for="txtTran">运送人</label>
                        <input class="iright" type="text" id="txtTran" name="txtTran">
                    </div>
                    <div class="form-inline row" id="dq11">
                        <label class="lbone" for="txtGet">接收人</label>
                        <input class="iright" type="text" id="txtGet" name="txtGet">
                    </div>
                </form>
            </div>
            <div id="dbtn">
                <button type="button" class="btn btn-default" onclick="querymedlist()">查询</button>
            </div>

        </div>
        <div id="toolbar">
            <div class="btn-group">
                <button type="button" id ="btnWindow" class="btn btn-default" onclick="ShowQueryWindow()">>></button>
                <button type="button" class="btn btn-default" onclick="showadd()">接收</button>
                <button type="button" class="btn btn-default" id="btnModify" onclick="modify()">修改</button>
                <button type="button" class="btn btn-default" id="btnDel" onclick="delMed()">删除</button>
                <button type="button" class="btn btn-default" id="btnReturn">返回</button>
            </div>
        </div>
        <div id="right">
            <table id="bttable" class="table table-striped table-bordered" data-toggle="patilist" data-classes="table table-hover"
                   data-show-columns="false" data-striped="false" data-show-toggle="false" data-search="false" data-show-refresh="false"
                   style="table-layout: fixed; word-break: break-all; white-space: nowrap; overflow-x: hidden; overflow-y: auto;">
                <thead id="patithheader">
                    <tr>
                        <th width="120px">住院号</th>
                        <th width="120px">姓名</th>
                        <th width="75px">性别</th>
                        <th width="75px">年龄</th>
                        <th width="80px">住院次数</th>
                        <th width="120px">入院日期</th>
                        <th width="120px">入院科室</th>
                        <th width="120px">出院科室</th>
                        <th width="90px">运送人</th>
                        <th width="90px">接收人</th>
                        <th width="120px">接收时间</th>
                        <th width="120px">编目日期</th>
                        <th width="120px">记录时间</th>
                        <th width="75px">状态</th>
                        <th width="120px">出院日期</th>
                        <th width="120px">出生日期</th>
                        <th class="hide">病人ID</th>
                        <th class="hide">主页ID</th>
                        <th class="hide">出院科室ID</th>
                        <th width="90px">病案号</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="stabar">
        <p id="p2">当前共有病案记录数量：0。</p>
    </div>

    <script src="~/js/jquery.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/js/main.js"></script>

    <script src="~/dist/bootstrap-table.js"></script>
    <script src="~/dist/locale/bootstrap-table-zh-CN.js"></script>

</body>
</html>
